@import './variable.scss';

.main {
  @include flexCenter(200px, column);
  text-align: center;
  height: 100vh;

  .titleContainer {
    @include flexColumn(30px, column);

    .title {
      font-size: 4rem;
      color: $primary-color;
    }

    .textBox {
      @include flexColumn(10px, column);
    }
  }

  button {
    @include btnColor;
    padding: 20px;
    font-size: 1.2rem;

    &:hover {
      @include btnHoverColor;
    }
  }
}
