$primary-color: #fead00;
$main-color: rgb(253, 246, 237);

@mixin flexCenter($gap, $direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  gap: $gap;
}

@mixin flexColumn($gap, $direction) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}

@mixin btnColor {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btnColor {
  color: $primary-color;
  background-color: $main-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
}

@mixin btnHoverColor {
  color: $main-color;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
}
